<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingzhong.video.mapper.CommentReplyMapper">

    <resultMap id="BaseResultMap" type="com.lingzhong.video.bean.po.CommentReply">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="videoOrCommentId" column="video_or_comment_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="beUserId" column="be_user_id" jdbcType="INTEGER"/>
            <result property="commentOrReply" column="comment_or_reply" jdbcType="TINYINT"/>
            <result property="replyContent" column="reply_content" jdbcType="VARCHAR"/>
            <result property="replyDate" column="reply_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_or_comment_id,user_id,
        be_user_id,comment_or_reply,reply_content,
        reply_date
    </sql>
</mapper>
