<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingzhong.video.mapper.VideoDataMapper">

    <resultMap id="BaseResultMap" type="com.lingzhong.video.bean.po.VideoData">
        <id property="videoId" column="video_id" jdbcType="INTEGER"/>
        <result property="videoLikeNum" column="video_like_num" jdbcType="INTEGER"/>
        <result property="videoCollectNum" column="video_collect_num" jdbcType="INTEGER"/>
        <result property="videoCommentNum" column="video_comment_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        video_id,video_like_num,video_collect_num,
        video_comment_num
    </sql>

    <update id="updateVideoDataByFiled">
        update video_data
        set ${filed} = ${filed} + #{num}
        where video_id = #{videoId}
    </update>

</mapper>
