<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingzhong.video.mapper.VideoLikeMapper">

    <resultMap id="BaseResultMap" type="com.lingzhong.video.bean.po.VideoLike">
        <id property="videoId" column="video_id" jdbcType="INTEGER"/>
        <id property="userId" column="user_id" jdbcType="INTEGER"/>
        <id property="beUserId" column="be_user_id" jdbcType="INTEGER"/>
        <result property="likeDate" column="like_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        video_id,user_id,
        be_user_id,like_date
    </sql>
    <insert id="innerNewVideoLike">
        insert into video_like(<include refid="Base_Column_List"/>)
        value (#{videoLike.videoId},#{videoLike.userId},#{videoLike.beUserId},#{videoLike.likeDate})
        ON DUPLICATE KEY UPDATE like_date = #{videoLike.likeDate}
    </insert>
</mapper>
